# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.pyc

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Model Files
*.h5
*.pkl

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Mac Files
.DS_Store